alembic==1.5.5
bcrypt==3.2.0
py-async-bus==0.0.3
pyjwt==2.0.1
psycopg2-binary==2.8.6
pytest==6.2.2
pytest-env==0.6.2
SQLAlchemy==1.3.23
pydantic[email]==1.7.3
boto3==1.17.16
autodiscover==0.0.4
sendgrid==6.6.0
